<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>稻草FAQ搜索</title>
  <link th:href="@{/img/logo.ico}" href="../static/img/logo.ico" rel="SHORTCUT ICON"/>

</head>
<head th:replace="common/head :: head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Chen HaiBao">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" href="../../static/bower_components/bootstrap-4.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/bower_components/font-awesome-4.7.0/css/font-awesome.min.css"/>
  <link href="../../static/css/zpageNav.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../../static/css/vueAlert.css">

  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/bower_components/poper/dist/popper.min.js"></script>
  <script src="../../static/bower_components/bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../static/css/select2.min.css">
  <script href="../../static/js/select2.full.js"></script>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
          crossorigin="anonymous"></script>
  <!-- Load Vue followed by BootstrapVue -->
  <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <!-- Load the following for BootstrapVueIcons support -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

</head>
<body>
<div class="container-fluid mt-5 mb-1" id="app">
  <div class="row">
    <div class="col-8 pb-2">

      <div class="container-fluid mb-3">

        <div class="row">
          <div class="col-3">
            <h3 class="text-center text-info">稻草搜索</h3>
          </div>
          <div class="col-9">
            <div class="form-inline my-2 my-lg-0 ">
              <input type="hidden" th:value="${keyword}" id="keyword">
              <input class="form-control form-control-md mr-sm-2 rounded-pill" v-model="keyword"
                     v-on:keyup.13="pageHandler()" style="width: 75%" type="search" placeholder="请输入问题的关键字/标签"
                     aria-label="Search">
              <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0 rounded-pill" v-on:click="pageHandler()"
                      type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>

        </div>
      </div>


      <div class="container-fluid bg-light">
        <h4 class="border-bottom m-2 p-2 font-weight-light"><i class="fa fa-comments-o" aria-hidden="true"></i> 搜索列表
        </h4>
        <div class="alert alert-danger" id="emptySearch" style="display: none" v-show="isShow" role="alert" v-cloak>
          抱歉没有搜索到相关的内容
        </div>

        <div class="media bg-white m-2 p-3" v-cloak v-for="(question,index) in questions"
             v-if="questions !==undefined && questions.length > 0 ">
          <div class="media-body w-50">
            <div class="row">
              <div class="col-2">
                <span class="badge badge-pill badge-warning" style="display: none" v-show="question.status == '0'">未回复</span>
                <span class="badge badge-pill badge-info" style="display: none" v-show="question.status == '1'">待解决</span>
                <span class="badge badge-pill badge-success" v-show="question.status == '2'">已解决</span>
              </div>
              <div class="col-10">
                <h5 class="mt-0 mb-1 text-truncate">
                  <a target=_blank class="text-dark" :href="'/question/detail/'+question.id" v-html="question.title">如何下载安装Java呀？</a>
                </h5>
              </div>
            </div>

            <div class="font-weight-light text-truncate text-wrap text-justify mb-2" style="height: 70px;">
              <p v-html="question.content">
                如何下载安装Java呀？
              </p>
            </div>
            <div class="row">
              <div class="col-12 mt-1 text-info">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <template v-for="tag in question.tags">
                  <a class="text-info" :href="'/question/tag_question.html?tagId='+tag.id">
                    <small v-text="tag.name">Java基础 &nbsp;</small>
                  </a>&nbsp;
                </template>

              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <ul class="list-inline mb-1 ">
                  <li class="list-inline-item"><small v-text="question.userNickName">小明</small></li>
                  <li class="list-inline-item"><small v-text="question.pageViews+'浏览'">20浏览</small></li>
                  <li class="list-inline-item"><small v-text="question.createtimeStr">2小时前</small>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- / class="media-body"-->
          <img :src="'/img/tags/example'+index+'.jpg'"   class="ml-3 border img-fluid rounded" alt="" width="208"
               height="116">
        </div>
        <div class="media bg-white m-2 p-3" th:remove="all">
          <div class="media-body w-50">
            <div class="row">
              <div class="col-md-12 col-lg-2">
                <span class="badge badge-pill badge-success">已解决</span>
              </div>
              <div class="col-md-12 col-lg-10">
                <h5 class="mt-0 mb-1 text-truncate">
                  <a class="text-dark" href="">说一下 HashMap 的实现原理？</a>
                </h5>
              </div>
            </div>

            <div class="font-weight-light text-truncate text-wrap text-justify mb-2"
                 style="height: 70px;">
              <p>
                说一下 HashMap 的实现原理？
              </p>
            </div>
            <div class="row">
              <div class="col-12 mt-1 text-info">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a class="text-info" :href="'/question/tag_question.html?tagId='+tag.id"
                   v-for="tag in question.tags"><small>Java基础</small></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <ul class="list-inline mb-1 ">
                  <li class="list-inline-item"><small>小明</small>
                  </li>
                  <li class="list-inline-item"><small>50浏览</small>
                  </li>
                  <li class="list-inline-item"><small>2天前</small>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- / class="media-body"-->
          <img :src="'/img/tags/example'+index+'.jpg'" src="../../static/img/tags/example1.jpg" class="ml-3 border img-fluid rounded" alt=""
               width="208" height="116">

        </div>
        <div class="media bg-white m-2 p-3" th:remove="all">
          <div class="media-body w-50">
            <div class="row">
              <div class="col-md-12 col-lg-2">
                <span class="badge badge-pill badge-warning">未回复</span>
              </div>
              <div class="col-md-12 col-lg-10">
                <h5 class="mt-0 mb-1 text-truncate">
                  <a class="text-dark" href="/question/detail">Java如何安装</a>
                </h5>
              </div>
            </div>

            <div class="font-weight-light text-truncate text-wrap text-justify mb-2"
                 style="height: 70px;">
              <p>
                如何下载安装Java呀？
              </p>
            </div>
            <div class="row">
              <div class="col-12 mt-1 text-info">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a class="text-info" href=""><small>Java基础</small></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <ul class="list-inline mb-1 ">
                  <li class="list-inline-item"><small>天王盖地虎</small>
                  </li>
                  <li class="list-inline-item"><small>11浏览</small>
                  </li>
                  <li class="list-inline-item"><small>3天前</small>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- / class="media-body"-->
          <img :src="'/img/tags/example'+index+'.jpg'" src="../../static/img/tags/example2.jpg" class="ml-3 border img-fluid rounded" alt=""
               width="208" height="116">
        </div>
        <div class="media bg-white m-2 p-3" th:remove="all">
          <div class="media-body w-50">
            <div class="row">
              <div class="col-md-12 col-lg-2">
                <span class="badge badge-pill badge-success">已解决</span>
              </div>
              <div class="col-md-12 col-lg-10">
                <h5 class="mt-0 mb-1 text-truncate">
                  <a class="text-dark" href="">说一下 HashMap 的实现原理？</a>
                </h5>
              </div>
            </div>

            <div class="font-weight-light text-truncate text-wrap text-justify mb-2"
                 style="height: 70px;">
              <p>
                说一下 HashMap 的实现原理？
              </p>
            </div>
            <div class="row">
              <div class="col-12 mt-1 text-info">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a class="text-info" :href="'/question/tag_question.html?tagId='+tag.id"
                   v-for="tag in question.tags"><small>Java基础</small></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <ul class="list-inline mb-1 ">
                  <li class="list-inline-item"><small>小明</small>
                  </li>
                  <li class="list-inline-item"><small>50浏览</small>
                  </li>
                  <li class="list-inline-item"><small>2天前</small>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- / class="media-body"-->
          <img :src="'/img/tags/example'+index+'.jpg'" src="../../static/img/tags/example3.jpg" class="ml-3 border img-fluid rounded" alt=""
               width="208" height="116">
        </div>
        <div class="media bg-white m-2 p-3" th:remove="all">
          <div class="media-body w-50">
            <div class="row">
              <div class="col-md-12 col-lg-2">
                <span class="badge badge-pill badge-warning">未回复</span>
              </div>
              <div class="col-md-12 col-lg-10">
                <h5 class="mt-0 mb-1 text-truncate">
                  <a class="text-dark" href="/question/detail">Java如何安装</a>
                </h5>
              </div>
            </div>

            <div class="font-weight-light text-truncate text-wrap text-justify mb-2"
                 style="height: 70px;">
              <p>
                如何下载安装Java呀？
              </p>
            </div>
            <div class="row">
              <div class="col-12 mt-1 text-info">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <a class="text-info" href=""><small>Java基础</small></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <ul class="list-inline mb-1 ">
                  <li class="list-inline-item"><small>天王盖地虎</small>
                  </li>
                  <li class="list-inline-item"><small>11浏览</small>
                  </li>
                  <li class="list-inline-item"><small>3天前</small>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- / class="media-body"-->
          <img :src="'/img/tags/example'+index+'.jpg'"  src="../../static/img/tags/example4.jpg" class="ml-3 border img-fluid rounded" alt=""
               width="208" height="116">
        </div>
        <!-- / class="media"-->
      </div>
      <!-- / class="row"-->
      <div class="row" style="display: none" v-show="questions !==undefined && questions.length > 0 ">
        <!--显示分页信息-->
        <div th:replace="common/pageInfo :: pageInfo"></div>
      </div>
      <!--分页静态展示，运行时删除-->
      <div class="row" th:remove="all">
        <div class="col-12">
          <nav class="zpagenav">
            <ul class="page-ul">
              <li class="disabled">&lt;</li>
              <li class="">1</li>
              <li class="disabled">&gt;</li>
            </ul>
            <span class="total">共 5 条</span></nav>
        </div>
      </div> <!--分页静态展示，运行时删除-->

    </div>
    <!-- / class="col-8"-->
    <div class="col-4 pb-2">
      <!--热点数据-->
      <div th:replace="common/hotspot :: hostpot" class="container-fluid bg-light mt-5">
        <h4 class="m-2 p-2 font-weight-light"><i class="fa fa-list" aria-hidden="true"></i> 热点问题</h4>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="../question/detail.html" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 text-dark">jdk1.8对sycn做了什么优化？</h6>
              <small><span class="badge badge-primary badge-pill"></span></small>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="mr-2">1条回答</small>
                <small class="text-success">已解决</small>
              </div>
              <div class="col-6 text-right">
                <small>51浏览量</small>
              </div>
            </div>
          </a>
        </div>
      </div><!--热点数据-->
    </div>
    <!-- / class="col-4"-->
  </div>

</div>
<footer class="container-fluid  bg-light mt-1 py-3">
  <p class="text-center font-weight-light">达内教育-Java教研部 版权所有<br><a href="http://tedu.cn">tedu.cn</a></p>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/bower_components/poper/dist/popper.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-4.4.1/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/zpageNav.js}"></script>
<script th:src="@{/js/search.js?v=20200512}"></script>
</body>
</html>