<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
</head>
<body>
		<footer class="main-footer"> 
	<strong>Copyright &copy; 2020 <a
			href="#">Tedu.cn</a>.
	</strong> All rights reserved.

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/adminlte.min.js}"></script>
	<script th:src="@{/js/modal.js}"></script>
	<script
		th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/js/select2.full.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<script th:src="@{/js/showTips.js}"></script>
	<script th:src="@{/js/vue.js}"></script>
	<script th:src="@{/js/sweetalert.min.js}"></script>

	</footer>

	
</body>
</html>