<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<footer class="main-footer"> 
	<strong>Copyright &copy; 2018 <a
			href="#">Tedu.cn</a>.
	</strong> All rights reserved. 
	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/adminlte.min.js"></script>
	<script src="../js/modal.js"></script>
	<script
		src="../js/jquery.dataTables.min.js"></script>
	<script
		src="../js/dataTables.bootstrap.min.js"></script>
	<script src="../js/select2.full.js"></script>
	<script src="../js/jquery-form.js"></script>
	<script src="../js/showTips.js"></script>
	</footer>

	
</body>
</html>