<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>达内稻草问答系统</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/css/ionicons.min.css}">
<link rel="stylesheet"
	th:href="@{/css/select2.min.css}">
<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
 <style>
th {
	color: #0048AB;
}
</style> 
</head>

<header class="main-header"><a href="#"
			class="logo">  <span
			class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>达内稻草问答系统</b></span>
		</a> <!-- Header Navbar --> <nav class="navbar navbar-static-top"
			role="navigation"> <!-- Sidebar toggle button--> <a href="#"
			class="sidebar-toggle" data-toggle="push-menu" role="button"> <span
			class="sr-only">Toggle navigation</span>
		</a> <!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->



				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <!-- The user image in the navbar--> <img
						th:src="@{/img/logo.jpg}" class="user-image" alt="User Image"> <!-- hidden-xs hides the username on small devices so only the image appears. -->
						<span class="hidden-xs" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"></span>
				</a>
					<ul class="dropdown-menu">
						<!-- The user image in the menu -->
						<li class="user-header"><img th:src="@{/img/logo.jpg}"
							class="img-circle" alt="User Image">

							<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"></p></li>

						<!-- Menu Footer-->
						<li class="user-footer">

							<div class="pull-right">
								<a href="/logout" class="btn btn-default btn-flat">登出</a>
							</div>
						</li>
					</ul>
				</li>

			</ul>
		</div>
		</nav> 
</header>

	

</html>