<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="commom/head :: head">
		
	</head>
	<head>
		<link th:href="@{/css/zpageNav.css}" rel="stylesheet" />
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper" >
			<header th:replace="commom/head :: header"></header>
			<aside th:replace="commom/aside :: aside"></aside>
			<div class="content-wrapper" id="app">
					<section class="content-header">


					</section>
					<section class="content ">
						<div class="row" >
							<div class="row" >
								<div class="col-lg-8 col-lg-offset-1">
									<form action="#" method="get" >
										<div class="input-group">
											<input type="text"  class="form-control" placeholder="输入问题的关键字" v-model="keyword" >
											<span class="input-group-btn">
											<button type="submit" name="search" id="search-btn" class="btn btn-flat" v-on:click="pageHandler(1)" ><i class="fa fa-search"></i>
											</button>
										  </span>
										</div>
									</form>
								</div>
								<div class="col-lg-3" >
									<button type="button" class="btn btn-primary" onclick="location.href='/question/create.html'">我要提问</button>
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-lg-10 col-lg-offset-1">
									<div class="panel panel-default" v-for="question in questions">
										<!-- Default panel contents -->
										<div class="panel-heading">
											<h4>
												<span class="label label-warning" v-if="question.status == '0'">未回答</span>
												<span class="label label-info" v-if="question.status == '1'">待解决</span>
												<span class="label label-success" v-if="question.status == '2'">已解决</span>
												<a :href="'/question/detail/'+question.id">{{question.title}}</a>
											</h4>
										</div>
										<div class="panel-body" style="max-height: 100px;overflow: hidden;text-overflow:ellipsis" v-html="question.content"></div>

										<div class="panel-footer">
											<span class="label label-default" style="margin-right: 2px"  v-for="tag in question.tagList"><a :href="'/question/tag/'+tag.id+''" >{{tag.name}}</a></span>

											<span  style="float:right;margin-right: 10px" >{{question.pageViews}}浏览</span>
											<span  style="float:right;margin-right: 10px" >{{question.distanceTime}}</span>
											<span  style="float:right;margin-right: 10px" >{{question.userNickName}}</span>
										</div>

									</div>
								</div>

							</div>
						</div>
						<div class="row">

							<!--显示分页信息-->
							<div class="modal-footer no-margin-top" >

								<zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
										  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
								</zpagenav>

							</div>
						</div>
					</section>
			</div>
			<footer th:replace="commom/footer :: footer"></footer>
		</div>
	</body>

	<script th:src="@{/js/vue.js}"></script>
	<script th:src="@{/js/zpageNav.js}"></script>
	<script>
		// $(document).ready(function(){
		// 	if(event.keyCode ===13){
		// 		vm.pageHandler(1);
		// 	}
		// });

		var vm = new Vue({
			el: '#app',
			data: {
				page: 0,  //显示的是哪一页
				pageSize: 5, //每一页显示的数据条数
				total: 0, //记录总数
				maxPage:9, //最大页数
				keyword:'',
				questions:[]


			},
			methods: {
				//pagehandler方法 跳转到page页
				pageHandler: function (pageNum) {
					//here you can do custom state update
					this.page = pageNum;
					var _this=this;
					$.ajax({
						type:"post",
						url:"/question/search",
						data:{
							"pageNum":pageNum,
							"pageSize":this.pageSize,
							"keyword":this.keyword
						},
						dataType: "json",
						success:function (res) {
							console.log(res);
							if(res.code==200){
								_this.total=res.data.total;
								_this.pages=res.data.totalPage;
								_this.questions=res.data.list;
							}
						}
					});
				},
				tagPage: function (tag) {
					this.keyword=tag;
					this.pageHandler(1);
				}
			},
			created:function(){
				//created  表示页面加载完毕，立即执行
				this.pageHandler(1);
			}
		});

	</script>

</html>