<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>稻草FAQ首页</title>
  <link href="/img/logo.ico" rel="SHORTCUT ICON" />
</head>
<head th:replace="common/head :: head"></head>
<body>
<header th:replace="common/head :: header"></header>
  <div class="container mt-2 mb-1" >
    <div class="row">
      <div class="col-8 pb-2" id="app">
        <!--引入标签的导航栏-->
        <ul th:replace="common/tag::tag"></ul>
        <div class="container bg-light">
          <h4 class="border-bottom m-2 p-2 font-weight-light"><i class="fa fa-comments-o" aria-hidden="true"></i> 我的提问</h4>
          <div class="row" v-if="questions == undefined ||  questions.length == 0 ">
            <div class="alert alert-warning w-100" role="alert">
              抱歉您还没有提问内容， <a href="/question/create.html" class="alert-link">您可以点击此处提问</a>，或者点击标签查看其它问答
            </div>
          </div>
          <div class="media bg-white m-2 p-3" v-for="(question,index) in questions"  v-if="questions !==undefined && questions.length > 0 ">
            <div class="media-body w-50">
              <div class="row">
                <div class="col-2">
                  <span class="badge badge-pill badge-warning" v-if="question.status == '0'">未回复</span>
                  <span class="badge badge-pill badge-info" v-if="question.status == '1'">待解决</span>
                  <span class="badge badge-pill badge-success" v-if="question.status == '2'">已解决</span>
                </div>
                <div class="col-10">
                  <h5 class="mt-0 mb-1 text-truncate"><a target= _blank class="text-primary" :href="'/question/detail/'+question.id" >{{question.title}}</a></h5>
                </div>
              </div>

              <div class="font-weight-light text-truncate text-wrap text-justify mb-2" style="height: 70px;">
                <p v-html="delHtmlTag(question.content)">
                </p>
              </div>
              <div class="row">
                <div class="col-12 mt-1 text-info">
                  <i class="fa fa-tags" aria-hidden="true"></i>
                  <a class="text-info" :href="'/question/tag_question.html?tagId='+tag.id" v-for="tag in question.tags"><small>{{tag.name}} &nbsp;</small></a>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <ul class="list-inline mb-1 ">
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.userNickName}}</small></li>
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.pageViews}}浏览</small></li>
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.distanceTime}}</small></li>
                  </ul>
                </div>
              </div>

            </div>
            <!-- / class="media-body"-->
            <img :src="'/img/tags/example'+index+'.jpg'" class="ml-3 border img-fluid rounded" alt="" width="208" height="116">
          </div>
          <!-- / class="media"-->
        </div>
        <!--分页信息-->
        <div class="row" v-if="questions !==undefined && questions.length > 0 ">
          <div th:replace="common/pageInfo :: pageInfo"></div>
        </div>
      </div> <!-- / class="col-8"-->

      <div class="col-4 pb-2">
        <!--个人信息-->
       <div th:replace="common/myInfo :: myInfo"></div>
       <!--热点数据-->
        <div th:replace="common/hotspot :: hostpot"></div>
      </div>
      <!-- / class="col-4"-->
    </div>
  </div>
  <!--底部-->
  <footer th:replace="common/footer::footer"></footer>
  <script th:src="@{/js/index.js?v=1.3}"></script>
  <script th:src="@{/js/myinfo.js?v=1.3}"></script>
</body>
</html>