<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="common/head :: head">
		
	</head>
	<head>
		<link th:href="@{/css/zpageNav.css}" rel="stylesheet" />
		<style>
			.question{
				max-height: 108px;
				line-height: 18px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical/*! autoprefixer: on */;
				overflow: hidden;
				text-overflow: ellipsis;

			}

		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper" >
			<header th:replace="common/head :: header"></header>
            <aside class="main-sidebar" >
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img th:src="@{/img/logo.jpg}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"> </p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>



                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">




                        <li class="treeview active" onclick="location.href='/index.html'"><a href="#"><i class="fa fa-dashboard "></i>
                            <span>首页</span> </a>

                        </li>
                        <li class="treeview" onclick="location.href='/question/create.html'"><a href="#"><i class="fa fa-question-circle "></i>
                            <span>我要提问</span> </a>

                        </li>
						<li class="treeview" sec:authorize="hasRole('ROLE_TEACHER')"><a href="#"><i class="fa fa-gear "></i>
							<span>提题中心</span> <span class="pull-right-container"> <i
									class="fa fa-angle-left pull-right"></i>
							</span> </a>
							<ul class="treeview-menu">
								<li><a href="/question/questionManager.html">&nbsp;提问管理</a></li>
							</ul>
						</li>

                        <li class="treeview"><a href="#"><i class="fa fa-user "></i>
                            <span>个人中心</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
							</span> </a>
                            <ul class="treeview-menu">
                                <!--<li><a href="/emp/index">&nbsp;个人资料</a></li>-->
                                <li><a href="/personal/myquestion.html">&nbsp;我的提问</a></li>
								<li  sec:authorize="hasRole('ROLE_TEACHER')"><a href="/personal/mytask.html">&nbsp;我的任务</a></li>
                                <!--					<li><a href="/emp/empLevel">&nbsp;我的回答</a></li>-->
                                <!--					<li><a href="/emp/superiorScore">我的关注</a></li>-->
                            </ul>
                        </li>




                    </ul>

                </section>

            </aside>
			<div class="content-wrapper" id="app">
					<section class="content-header">


					</section>
					<section class="content ">

						<div class="row" >
							<div class="row" >
								<div class="col-lg-8 col-lg-offset-1">

										<div class="input-group">
											<input type="text"  class="form-control"  v-on:keyup.13="pageHandler(1)" placeholder="输入问题的关键字" v-model="keyword" >
											<span class="input-group-btn">
											<button type="button" name="search" id="search-btn" class="btn btn-primary" v-on:click="pageHandler(1)" ><i class="fa fa-search"></i>
											</button>
										  </span>
										</div>

								</div>
								<div class="col-lg-3" >
									<button type="button" class="btn btn-primary" onclick="location.href='/question/create.html'">我要提问</button>
								</div>
							</div>
							<br>
							<br>
							<div class="row" v-if="tags !==undefined && tags.length > 0 ">
								<div class="col-lg-10 col-lg-offset-1" >
									<ol class="breadcrumb">
										<li><a href="javascript:void(0)" :data-id="0" v-on:click="pageHandler3($event,1)"  >全部</a></li>
										<li v-for="tag in tags"><a href="javascript:void(0)" :data-id="tag.id" v-on:click="pageHandler3($event,1)"  >{{tag.name}}</a></li>

									</ol>
								</div>
							</div>
							<br><br>
							<div class="row" v-if="questions == undefined ||  questions.length == 0 ">
								<div class="col-lg-4 col-lg-offset-3" >
									抱歉，没有搜索到数据，请更换标签或者关键字
								</div>
							</div>
							<div class="row" v-if="questions !==undefined && questions.length > 0 ">
								<div class="col-lg-10 col-lg-offset-1" >
									<div class="panel panel-default" v-for="question in questions" >
										<!-- Default panel contents -->
										<div class="panel-heading">
											<h4>
												<span class="label label-warning" v-if="question.status == '0'">未回答</span>
												<span class="label label-info" v-if="question.status == '1'">待解决</span>
												<span class="label label-success" v-if="question.status == '2'">已解决</span>
												<a :href="'/question/detail/'+question.id">{{question.title}}</a>
											</h4>
										</div>
										<div class="panel-body question"  v-html="question.content"></div>

										<div class="panel-footer">
											<span class="label label-default" style="margin-right: 2px"  v-for="tag in question.tags"><a href="javascript:void(0)" :data-id="tag.id" v-on:click="pageHandler3($event,1)"  >{{tag.name}}</a></span>

											<span  style="float:right;margin-right: 10px" >{{question.pageViews}}浏览</span>
											<span  style="float:right;margin-right: 10px" >{{question.distanceTime}}</span>
											<span  style="float:right;margin-right: 10px" >{{question.userNickName}}</span>
										</div>

									</div>
								</div>

							</div>
						</div>
						<div class="row" v-if="questions !==undefined && questions.length > 0 ">

							<!--显示分页信息-->
							<div class="modal-footer no-margin-top" v-if="show">

								<zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
										  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
								</zpagenav>

							</div>
							<div class="modal-footer no-margin-top" v-else >

								<zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
										  v-bind:max-page="maxPage"  v-on:pageHandler2="pageHandler2">
								</zpagenav>

							</div>
						</div>
					</section>
			</div>
			<footer th:replace="common/footer :: footer"></footer>
		</div>



	<script th:src="@{/js/zpageNav.js}"></script>
	<script th:src="@{/js/zpageNav2.js}"></script>
	<script th:src="@{/js/index.js?v=1.0}"></script>
	</body>
</html>