<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>稻草FAQ登录</title>
  <link href="//resource.straw.org.cn/img/logo.ico" rel="SHORTCUT ICON"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{//resource.straw.org.cn/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{//resource.straw.org.cn/bower_components/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{//resource.straw.org.cn/css/login.css}">
</head>
<body class="bg-light">
<div class="container-fluid">
  <div class="row">
    <div class="mx-auto mt-5" style="width: 400px;">
      <h2 class="text-center ">稻草问答系统</h2>
      <div class="bg-white p-4">
        <p class="text-center">用户登录</p>
        <div class="alert alert-danger"  style="display: none"  th:style="loginError? '':'display: none'" th:if="${loginError}">
          <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle">账号或密码错误</i></h4>
        </div>
        <form action="/login" th:action="@{/login}" method="post">
          <div class="form-group has-icon">
            <input type="text" class="form-control d-inline" name="username"
                   placeholder="手机号" id="username">
            <label for="username" class="form-control-icon" >
              <i class="fa fa-phone"></i></label>
          </div>
          <div class="form-group has-icon">
            <input type="password" class="form-control" name="password"
                   placeholder="密码" id="passowrd">
            <label for="passowrd" class="form-control-icon" >
              <i class="fa fa-lock"></i></label>
          </div>
          <button type="submit" class="btn btn-primary btn-block ">登录</button>
        </form>
        <a class="d-block" href="resetpassword.html" th:href="@{/resetpassword.html}">忘记密码？</a>
        <a class="d-block" href="register.html" th:href="@{/register.html}" >新用户注册</a>
      </div>
    </div>
  </div>
</div>
<script src="../static/bower_components/jquery/dist/jquery.min.js" th:src="@{//resource.straw.org.cn/bower_components/jquery/dist/jquery.min.js}"></script>
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{//resource.straw.org.cn/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>
</html>
