<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Chen HaiBao">
  <title>稻草FAQ重置密码</title>
  <link  href="//resource.straw.org.cn/img/logo.ico" rel="SHORTCUT ICON"/>
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{//resource.straw.org.cn/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{//resource.straw.org.cn/bower_components/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" href="../static/bower_components/plugins/css/vueAlert.css" th:href="@{//resource.straw.org.cn/bower_components/plugins/css/vueAlert.css}">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{//resource.straw.org.cn/css/login.css}">
</head>
<body class="bg-light">
<div class="container-fluid" id="app" v-cloak="">
  <div class="row">
    <div class="mx-auto mt-5">
      <div class="alsrtInfo" style="display: none" :style="{display: displayStsates}" ref="alertMsg">
        <div class="profPrompt_test">{{aletMsg}}</div>
      </div>
      <h2 class="text-center">达内稻草问答系统</h2>
      <div class="bg-white p-4">

        <p class="text-center"><b>手机找回密码</b></p>

        <form>
          <div class="form-group has-icon">
            <input type="text" name="username" v-model="phone" class="form-control" placeholder="请输入手机号">
            <span class=" fa fa-phone form-control-icon"></span>
          </div>

          <div class="form-group has-icon row">
            <div class="col-md-7">
              <input type="text" v-model="code" class="form-control" placeholder="输入短信验证码">
            </div>
            <div class="col-md-5">
              <button type="button" v-bind:disabled="disabled" class="btn btn-primary" v-on:click="sendMessage" v-text="message">
                发送验证码
              </button>
            </div>

          </div>

          <div class="form-group has-icon">
            <input type="password" v-model="password" class="form-control" placeholder="设置密码6-20个字母、数字、下划线">
            <span class="fa fa-lock form-control-icon"></span>
          </div>
          <div class="form-group has-icon">
            <input type="password" v-model="comfirmPassword" class="form-control" placeholder="请再次输入密码">
            <span class="fa fa-lock form-control-icon"></span>
          </div>
          <button type="button" class="btn btn-primary btn-block btn-flat" v-on:click="register">提交</button>
        </form>

        <br>
        <div class="row">
          <div class="col-md-12">
            <a th:href="@{/login.html}" href="login.html">立即登录</a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<script src="../static/bower_components/jquery/dist/jquery.min.js" th:src="@{//resource.straw.org.cn/bower_components/jquery/dist/jquery.min.js}"></script>
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{//resource.straw.org.cn/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="../static/bower_components/vue/dist/vue.min.js" th:src="@{//resource.straw.org.cn/bower_components/vue/dist/vue.min.js}"></script>
<script  th:src="@{//resource.straw.org.cn/js/resetpassword.js?v=20200616}"></script>


</body>
</html>
