<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="commom/head :: head">
		
	</head>
	<head>
		<link th:href="@{/css/zpageNav.css}" rel="stylesheet" />
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper" >
			<header th:replace="commom/head :: header"></header>
			<aside class="main-sidebar" >
				<section class="sidebar">
					<div class="user-panel">
						<div class="pull-left image">
							<img th:src="@{/img/logo.jpg}" class="img-circle" alt="User Image">
						</div>
						<div class="pull-left info">
							<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"> </p>

							<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						</div>
					</div>



					<!-- Sidebar Menu -->
					<ul class="sidebar-menu" data-widget="tree">




						<li class="treeview" onclick="location.href='/index.html'"><a href="#"><i class="fa fa-dashboard "></i>
							<span>首页</span> </a>

						</li>
						<li class="treeview" onclick="location.href='/question/create.html'"><a href="#"><i class="fa fa-question-circle "></i>
							<span>我要提问</span> </a>

						</li>
						<li class="treeview" sec:authorize="hasRole('ROLE_TEACHER')"><a href="#"><i class="fa fa-gear "></i>
							<span>提问中心</span> <span class="pull-right-container"> <i
									class="fa fa-angle-left pull-right"></i>
							</span> </a>
							<ul class="treeview-menu">
								<li><a href="/question/questionManager.html">&nbsp;提问管理</a></li>
							</ul>
						</li>
						<li class="treeview active"><a href="#"><i class="fa fa-user "></i>
							<span>个人中心</span> <span class="pull-right-container"> <i
									class="fa fa-angle-left pull-right"></i>
				</span> </a>
							<ul class="treeview-menu">
								<!--<li><a href="#">&nbsp;个人资料</a></li>-->
								<li class="active"><a href="/personal/myquestion.html">&nbsp;我的提问</a></li>
								<li sec:authorize="hasRole('ROLE_TEACHER')"><a href="/personal/mytask.html">&nbsp;我的任务</a></li>
								<!--					<li><a href="/emp/empLevel">&nbsp;我的回答</a></li>-->
								<!--					<li><a href="/emp/superiorScore">我的关注</a></li>-->
							</ul>
						</li>




					</ul>

				</section>

			</aside>
			<div class="content-wrapper" id="app">
				<section class="content-header">
					<h4>
						我的提问

					</h4>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> 个人中心</a></li>
						<li><a href="#">我的提问</a></li>

					</ol>

				</section>
				<section class="content ">
					<!-- row -->
					<div class="row">
						<div class="box">
						<div class="col-md-12">
							<br>
							<!-- The time line -->
							<!--当问题为空的时候显示-->
							<div class="alert alert-warning" role="alert" v-if="questions==''">
								抱歉，您还没有提问内容，<a href="/question/create.html">点击这里提问吧！</a>
							</div>
							<ul class="timeline" v-else >
								<!-- timeline time label -->
								<template v-for="question in questions">
								<li class="time-label">
								  <span class="bg-green" >
									{{question.createtimestr}}
								  </span>
								</li>
								<!-- /.timeline-label -->
								<!-- timeline item -->
								<li>
									<i class="fa fa-hand-paper-o bg-blue"></i>

									<div class="timeline-item">
										<span class="time"><i class="fa fa-clock-o"></i>{{question.distanceTime}}</span>

										<h3 class="timeline-header">
											<span class="label label-warning" v-if="question.status == '0'">未回答</span>
											<span class="label label-info" v-if="question.status == '1'">待解决</span>
											<span class="label label-success" v-if="question.status == '2'">已解决</span>
											<a :href="'/question/detail/'+question.id">{{question.title}}</a>
										</h3>

										<div class="timeline-body" v-html="question.content">
										</div>
										<div class="timeline-footer">
											<span class="label label-default" style="margin-right: 2px"  v-for="tag in question.tags">{{tag.name}}</span>

											<span  style="float:right;margin-right: 10px" >{{question.pageViews}}浏览</span>
										</div>
									</div>
								</li>
								</template>
								<li>
									<i class="fa fa-clock-o bg-gray"></i>
								</li>
							</ul>
						</div>
						<!-- /.col -->
					</div>
					<div class="row">

						<!--显示分页信息-->
						<div class="modal-footer no-margin-top">

							<zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
									  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
							</zpagenav>

						</div>

					</div>
					</div>
				</section>
			</div>
			<footer th:replace="commom/footer :: footer"></footer>
		</div>
		<script th:src="@{/js/zpageNav.js}"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					page: 0,  //显示的是哪一页
					pageSize: 5, //每一页显示的数据条数
					total: 0, //记录总数
					maxPage:6, //最大页数
					questions:[]
				},
				methods: {
					//查找所有的问题
					pageHandler:function (pageNum) {
						//here you can do custom state update

						this.page = pageNum;
						var pageSize=this.pageSize;
						var _this=this;
						$.ajax({
							type:"post",
							url:"/question/findPersonalAllQuestions",
							data:{
								"pageNum":pageNum,
								"pageSize":pageSize

							},
							dataType: "json",
							success:function (res) {

								console.log(res);
								if(res.code==200){
									_this.total=res.data.total;
									_this.pages=res.data.pages;
									_this.questions=res.data.list;
								}
							}
						});
					}
				},
				created:function(){
					//created  表示页面加载完毕，立即执行
					this.pageHandler();
				}
			});

		</script>

	</body>

</html>