<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common/head :: head"></head>
<head>
  <title >重置密码</title>
  <link href="/straw/portal/img/logo.ico" rel="SHORTCUT ICON" />
</head>
<body>
<header th:replace="common/head :: header"></header>
  <div class="container mt-5 mb-3" >
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
          <li class="list-group-item  text-center" onclick="location.href='/straw/portal/personal/myinfo.html'"><i class="fa fa-user mr-2"></i>我的资料</li>
        <!--  <li class="list-group-item text-center"><i class="fa fa-phone  mr-2"></i>更改手机号</li>-->
          <li class="list-group-item active text-center"><i class="fa fa-lock  mr-2"></i>修改密码</li>
        </ul>
      </div>
      <!--重置密码-->
      <div class="col-5 " id="app">
        <div class="col-lg-12">
          <div class="alsrtInfo" :style="{display: displayStsates}" ref="alertMsg">
            <div class="profPrompt_test">{{aletMsg}}</div>
          </div>
        </div>
        <template>
          <div>
            <b-form @submit="onSubmit" v-if="show">
              <b-form-group
                      id="input-group-1"
                      label="原密码:"
                      label-for="input-1"


              >
                <b-form-input
                        id="input-1"
                        v-model="oldPasswd"
                        type="password"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                      id="input-group-2"
                      label="新密码:"
                      label-for="input-2"

              >
                <b-form-input
                        id="input-2"
                        v-model="newPasswd"
                        type="password"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                      id="input-group-3"
                      label="确认密码:"
                      label-for="input-3"

              >
                <b-form-input
                        id="input-3"
                        v-model="comfirmPasswd"
                        type="password"
                ></b-form-input>

              </b-form-group>

              <b-button type="submit" class="w-100" variant="primary">保存</b-button>
            </b-form>

          </div>
        </template>
      </div><!--重置密码-end--->
      <div class="col-4 pb-2 ">
        <!--热点数据-->
        <div th:replace="common/hotspot :: hostpot"></div>
      </div>
    </div>
  </div>
  <!--底部-->
  <footer th:replace="common/footer::footer"></footer>
  <script th:src="@{/straw/portal/js/person_resetpasswd.js?v=1.2}"></script>

</body>
</html>