<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="container bg-light mt-5" th:fragment="hostpot">
    <h4 class="m-2 p-2 font-weight-light"><i class="fa fa-list" aria-hidden="true"></i> 热点问题</h4>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">无代码开发，站到了程序员鄙视链顶端</h6>
                <small><span class="badge badge-primary badge-pill">14</span></small>
            </div>
            <small>2020-1-1</small>
        </a>
    </div>
</div>
</html>