<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container-fluid" id="tagApp" th:fragment="tag">
        <ul class="nav font-weight-light" >
            <li class="nav-item">
                <a class="nav-item nav-link text-info"   href="/question/tag_question.html?tagId=0"><small>全部</small></a>
            </li>
            <li class="nav-item" v-for="tag in tags">
                <a class="nav-item nav-link text-info"    :href="'/question/tag_question.html?tagId='+tag.id"><small>{{tag.name}}</small></a>
            </li>

        </ul>

    </div>


</html>