<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.straw.search.mapper.EsQuestionMapper">


    <resultMap id="ResultMap" type="cn.tedu.straw.portal.model.EsQuestion">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_nick_name" property="userNickName" />
        <result column="user_id" property="userId" />
        <result column="createtime" property="createtime" />
        <result column="status" property="status"/>
        <result column="page_views" property="pageViews"/>
        <result column="public_status" property="publicStatus"/>
        <!--嵌套查询Tag名称集合-->
        <collection property="tags" javaType="ArrayList" column="id" ofType="string" select="cn.tedu.straw.portal.mapper.TagMapper.selectTagNamesByQuestionId"/>
        <!--嵌套查询Tag集合-->
        <collection property="tagList" javaType="ArrayList" column="id" ofType="cn.tedu.straw.portal.model.Tag" select="cn.tedu.straw.portal.mapper.TagMapper.selectTagsByQuestionId"/>
    </resultMap>



    <select id="selectQuestionWithTags"  resultMap="ResultMap">
        select *
        from  question
    </select>



</mapper>
