<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/head :: head"></head>
<body>
<header th:replace="common/head :: header"></header>
  <div class="container mt-2 mb-1" id="app">
    <div class="row">
      <div class="col-8 pb-2">
        <nav class="nav font-weight-light">
          <a class="nav-item nav-link text-info  active"   href="/question/tag_question.html?tagId=0"><small>全部</small></a>
          <a class="nav-item nav-link text-info  active"  v-for="tag in tags" :href="'/question/tag_question.html?tagId='+tag.id"><small>{{tag.name}}</small></a>
        </nav>
        <div class="container bg-light">
          <input type="hidden" th:value="${tag.id}" id="tagId">
          <h4 class="border-bottom m-2 p-2 font-weight-light fa fa-comments-o" th:text="${tag.name}" ></h4>
          <div class="row" v-if="questions == undefined ||  questions.length == 0 ">
            <div class="alert alert-warning w-100" role="alert">
              抱歉，该标签暂时没有问答内容，请查看其它标签
            </div>
          </div>
          <div class="media bg-white m-2 p-3" v-for="(question,index) in questions" >
            <div class="media-body w-50">
              <div class="row">
                <div class="col-2">
                  <span class="badge badge-pill badge-warning" v-if="question.status == '0'">未回复</span>
                  <span class="badge badge-pill badge-info" v-if="question.status == '1'">待解决</span>
                  <span class="badge badge-pill badge-success" v-if="question.status == '2'">已解决</span>
                </div>
                <div class="col-10">
                  <h5 class="mt-0 mb-1 text-truncate"><a class="text-dark" :href="'/question/detail/'+question.id" >{{question.title}}</a></h5>
                </div>
              </div>

              <div class="font-weight-light text-truncate text-wrap text-justify mb-2" style="height: 70px;">
                <p v-html="question.content">
                </p>
              </div>
              <div class="row">
                <div class="col-7 mt-1 text-info">
                  <i class="fa fa-tags" aria-hidden="true"></i>
                  <a class="text-info" :href="'/question/tag_question.html?tagId='+tag.id" v-for="tag in question.tags"><small>{{tag.name}} &nbsp;</small></a>
                </div>
                <div class="col-5">
                  <ul class="list-inline mb-1 ">
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.userNickName}}</small></li>
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.pageViews}}浏览</small></li>
                    <li class="list-inline-item"><small><span class="font-weight-light"></span>{{question.distanceTime}}</small></li>
                  </ul>
                </div>
              </div>

            </div>
            <!-- / class="media-body"-->
            <img :src="'/img/tags/example'+index+'.jpg'" class="ml-3 border img-fluid rounded" alt="" width="208" height="116">
          </div>
          <!-- / class="media"-->
        </div>
      </div>
      <!-- / class="col-8"-->
      <div class="col-4 pb-2">
        <div class="container  font-weight-light">
          <div class="card" >
            <h5 class="card-header" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"></h5>
            <div class="card-body">

              <ul class="list-inline mb-1 ">
                <li class="list-inline-item mx-3 my-1">
                  <a class="text-center" href="#">
                    <div><strong>0</strong></div>
                    <div>金币</div>
                  </a>
                </li>
                <li class="list-inline-item mx-3 my-1" sec:authorize="hasRole('ROLE_TEACHER')">
                  <a class="text-center" href="#">
                    <div><strong>5</strong></div>
                    <div>回答</div>
                  </a>

                </li>
                <li class="list-inline-item mx-3 my-1">
                  <a class="text-center" href="#">
                    <div><strong>5</strong></div>
                    <div>提问</div>
                  </a>
                </li>
                <li class="list-inline-item mx-3 my-1">
                  <a class="text-center" href="/personal/mytask.html">
                    <div><strong>5</strong></div>
                    <div>任务</div>
                  </a>

                </li>

              </ul>

            </div>
          </div>
        </div>
        <div class="container bg-light mt-5">
          <h4 class="m-2 p-2 font-weight-light"><i class="fa fa-list" aria-hidden="true"></i> 热点</h4>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">无代码开发，站到了程序员鄙视链顶端</h6>
                <small><span class="badge badge-primary badge-pill">14</span></small>
              </div>
              <small>2020-1-1</small>
            </a>
          </div>
        </div>

      </div>
      <!-- / class="col-4"-->
    </div>
    <!-- / class="row"-->
    <div class="row" v-if="questions !==undefined && questions.length > 0 ">
      <div class="col-12 text-center">
        <!--显示分页信息-->
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
        </zpagenav>
      </div>

    </div>
  </div>
  <footer class="container  bg-light mt-1 py-3"> 
    <p class="text-center font-weight-light">达内教育-Java教研部 版权所有<br><a href="http://tedu.cn">tedu.cn</a></p>
  </footer>
  <script th:src="@{/js/tag_question.js}"></script>
</body>
</html>