<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="commom/head :: head">
		
	</head>
	<head>
		<link rel="stylesheet" th:href="@{/plugins/summernote/summernote.min.css}">
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<header th:replace="commom/head :: header"></header>
			<aside class="main-sidebar" >
				<section class="sidebar">
					<div class="user-panel">
						<div class="pull-left image">
							<img th:src="@{/img/logo.jpg}" class="img-circle" alt="User Image">
						</div>
						<div class="pull-left info">
							<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}"> </p>

							<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						</div>
					</div>



					<!-- Sidebar Menu -->
					<ul class="sidebar-menu" data-widget="tree">




						<li class="treeview" onclick="location.href='/index.html'"><a href="#"><i class="fa fa-dashboard "></i>
							<span>首页</span> </a>

						</li>
						<li class="treeview active" onclick="location.href='/question/create.html'"><a href="#"><i class="fa fa-question-circle "></i>
							<span>我要提问</span> </a>

						</li>
						<li class="treeview" sec:authorize="hasRole('ROLE_TEACHER')"><a href="#"><i class="fa fa-gear "></i>
							<span>提题中心</span> <span class="pull-right-container"> <i
									class="fa fa-angle-left pull-right"></i>
							</span> </a>
							<ul class="treeview-menu">
								<li><a href="/question/questionManager.html">&nbsp;提问管理</a></li>
							</ul>
						</li>

						<li class="treeview"><a href="#"><i class="fa fa-user "></i>
							<span>个人中心</span> <span class="pull-right-container"> <i
									class="fa fa-angle-left pull-right"></i>
				</span> </a>
							<ul class="treeview-menu">
								<!--<li><a href="#">&nbsp;个人资料</a></li>-->
								<li class="active"><a href="/personal/myquestion.html">&nbsp;我的提问</a></li>
								<li sec:authorize="hasRole('ROLE_TEACHER')"><a href="/personal/mytask.html">&nbsp;我的任务</a></li>
								<!--					<li><a href="/emp/empLevel">&nbsp;我的回答</a></li>-->
								<!--					<li><a href="/emp/superiorScore">我的关注</a></li>-->
							</ul>
						</li>




					</ul>

				</section>

			</aside>
			<div class="content-wrapper">
					<section class="content-header">
<!--						<h1>问答中心</h1>-->
<!--						<ol class="breadcrumb">-->
<!--							<li><a href="#"><i class="fa fa-dashboard"></i>问答中心</a></li>-->
<!--							<li class="active">提问</li>-->
<!--						</ol>-->
					</section>
					<section class="content ">
						<div class="row" style="margin-top: 30px">
							<div class="col-lg-12" >
								<div class="alert alert-danger alert-dismissible" role="alert"  th:if="${errors!=null}">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<ul>
										<li th:each="error : ${errors}" th:text="${error}"></li>
									</ul>
								</div>
								<form class="form-horizontal" action="/question/create" method="post"  enctype="application/x-www-form-urlencoded">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">标题</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" th:value="${title}"  name="title" id="inputEmail3" placeholder="请填写标题">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">请选择标签</label>
										<div class="col-sm-10">
											<select class="form-control select2" name="tagIds" multiple="multiple" data-placeholder="&nbsp;&nbsp;请选择标签,支持多选"
													style="width: 100%;">
												<option th:each="tag : ${tags}"  th:value="${tag.id}" th:text="${tag.name}">Alaba</option>

											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">向老师提问</label>
										<div class="col-sm-10">
											<select class="form-control select2" name="teacherIds" multiple="multiple" data-placeholder="&nbsp;&nbsp;请选择老师,支持多选"
													style="width: 100%;">
												<option th:each="teacher : ${teachers}"  th:value="${teacher.id}" th:text="${teacher.name}">Alaba</option>

											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<textarea id="summernote" th:text="${content}" name="content" ></textarea>
										</div>
									</div>
									<div class="form-group">

										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit"  class="btn btn-primary">提交问题</button>
										</div>
									</div>
								</form>
							</div>



						</div>
					</section>
			</div>
			<footer th:replace="commom/footer :: footer"></footer>
		</div>
	</body>
	<script th:src="@{/plugins/summernote/summernote.min.js}"></script>
	<script th:src="@{/plugins/summernote/summernote-zh-CN.min.js}"></script>
	<script th:src="@{/js/createQuestion.js?v=1.0}"></script>
</html>