<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="commom/head :: head">
		
	</head>
	<head>
		<link rel="stylesheet" th:href="@{/plugins/summernote/summernote.min.css}">
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<header th:replace="commom/head :: header"></header>
			<aside th:replace="commom/aside :: aside"></aside>
			<div class="content-wrapper">
					<section class="content-header">

					</section>
					<section class="content ">
						<div class="row">

							<div class="well col-lg-12" style="margin-left: 10px">
								<div class="page-header row">
									<h1 th:text="${question.title}">Zookeeper源码分析中的Leader选举问题</h1>
								</div>
								<div class="row">
									<span class="label label-default" style="margin-left: 2px"  th:each="tag : ${question.tags}"><a href=""  th:text="${tag.name}">java基础</a></span>

									<span  style="float:right;margin-right: 10px" th:text="|${question.pageViews}浏览|">99浏览</span>
									<span  style="float:right;margin-right: 10px" th:text="${question.distanceTime}" >3天前</span>
									<span  style="float:right;margin-right: 10px" th:text="${question.userNickName}">小明</span>
								</div>
								<div class="row" style="margin-top: 30px;margin-left: 20px;margin-right: 10px" th:utext="${question.content}">
								</div>
						</div>
						</div>

						<div class="row" style="margin-top: 30px"  >
							<div class="col-lg-12" style="margin-left: 10px">
								<div class="well-sm"><h3>填写答案</h3></div>
								<form class="form-horizontal" action="/question/answer" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" th:value="${question.id}" name="id">
									<div class="form-group">
										<div class="col-lg-12">
											<textarea id="summernote" name="content"></textarea>
										</div>
									</div>
									<div class="form-group">

										<div class="col-lg-12">
											<button type="submit" class="btn btn-primary">提交回答</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!--列出所有的答案-->
						<div class="row">
							<div class="col-lg-12" style="margin-left: 10px">
								<div class="well-sm"><h3 th:text="|${question.answersize}条回答|">3条回答</h3></div>
								<div class="panel panel-default" th:each="answer : ${question.answers}">
									<!-- Default panel contents -->
									<div class="panel-heading">
										<div class="row">
											<div class="col-lg-1">
												<img style="width: 50px;height: 50px;border-radius: 50%;" src="http://39.97.229.107/group1/M00/00/06/rBF9h15rOE-ARERBAABVIbenIVo282.jpg">
											</div>
											<div class="col-lg-8">
												<div class="row" style="margin-top: 1px;margin-bottom: 2px">
													<span th:text="${answer.userNickName}">陈海宝</span>
												</div>
												<div class="row" style="margin-top:5px;margin-bottom: 1px ">
													<span th:text="${answer.distanceTime}">1天前</span>
												</div>

											</div>
										</div>
									</div>
									<div class="panel-body" >
										<div class="row" style="margin-top: 30px;margin-left: 20px;margin-right: 10px" th:utext="${answer.content}">
										</div>

									</div>



								</div>
							</div>
						</div>

					</section>
			</div>
			<footer th:replace="commom/footer :: footer"></footer>
		</div>
	</body>
	<script th:src="@{/plugins/summernote/summernote.min.js}"></script>
	<script th:src="@{/plugins/summernote/summernote-zh-CN.min.js}"></script>

	<script>


		$(function () {
			$('#summernote').summernote({
				height: 200,
				tabsize: 2,
				lang: 'zh-CN',
				callbacks:{
					onImageUpload: function(files, editor, $editable) {
						UploadFiles(files,insertImg);
					}
				},
			});

		})
		function insertImg(imgeList){
			//for(i in imageUrl){
            console.log("imgeList:"+imgeList);
			for(var i=0;i<imgeList.length;i++){
				$('#summernote').summernote('insertImage', imgeList[i], 'img');
			}


			//}
		}

		function UploadFiles(files,func){
		//这里files是因为我设置了可上传多张图片，所以需要依次添加到formData中
			var formData = new FormData();
			for(f in files){
				formData.append("file", files[f]);
			}

			$.ajax({
				data: formData,
				type: "POST",
				url: "/question/uploadMultipleFile",
				cache: false,
				contentType: false,
				processData: false,
				success: function(result) {
					if(result.code=="200"){
						console.log("上传成功");
						func(result.data);
					}else if(result.code=='400'){
						console.log("上传失败!");
						alert(result.message);
					}else {
						alert("服务繁忙，图片上传失败，请稍后重试！");
					}


				},
				error: function() {
					alert("服务繁忙，请稍后重试！");
				}
			})
		}


	</script>
</html>