<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/head :: head"></head>
<head>
  <title th:text="${question.title}"></title>
  <link href="/img/logo.ico" rel="SHORTCUT ICON"/>
  <link rel="stylesheet" th:href="@{/plugins/summernote/summernote.min.css}">
  <!--提问内容-->
  <link rel="stylesheet" th:href="@{/css/question-content.css}">

</head>
<body>
<header th:replace="common/head :: header"></header>
<input type="hidden" id="questionInfo" th:value="${questionInfo}">
<div class="container-fluid bg-white mt-3">
  <div class="row">
    <div class="col-9 px-0 ">
      <div class="container-fluid bg-light">
        <div class="row">
          <div class="col-2 px-0  ">
            <div class="container-fluid ">
              <div class="row  mt-4 mx-0 px-0" th:if="${isMyQuestion==true}">
                <a class="btn btn-outline-danger btn-md rounded-lg fa fa-close " style="font-size: x-small"
                   th:onclick="'javascript:deleteQuestion('+${question.id}+')'">删除</a>
              </div>

              <div class="row mt-4 mx-0 px-0" th:if="${isMyQuestion==true}">
                <a class="btn btn-outline-primary btn-md rounded-lg fa fa-edit " style="font-size: x-small"
                   th:href="'/question/edit/'+${question.id}">编辑</a>
              </div>
              <div class="row mt-4 mx-0 px-0" sec:authorize="hasAuthority('/question/answer')">
                <a class="btn btn-outline-info btn-md rounded-lg fa fa-pencil " style="font-size: x-small"
                   href="#writeAnswer">回答</a>
              </div>
              <div class="row mt-4 mx-0 px-0" id="collectApp" th:if="${isMyQuestion==false}">
                <a class="btn btn-outline-secondary btn-md rounded-lg fa fa-star " v-on:click="collectQuestion"
                   v-if="show" style="font-size: x-small">收藏</a>
                <a class="btn btn-outline-secondary btn-md rounded-lg fa fa-star " v-on:click="cancelCollectQuestion"
                   v-if="!show" style="font-size: x-small">已收藏</a>
              </div>

            </div>

          </div>
          <div class="col-10 px-0">
            <div class="container-fluid ">
              <div class="row px-0 mb-3">
                <div class="col-9 px-0">
                  <a class="badge badge-pill  badge-info mx-1"
                     th:href="@{'/question/tag_question.html?tagId='+${tag.id}}" th:each="tag : ${question.tags}"
                     th:text="${tag.name+'&nbsp;'}"></a>
                </div>
                <div class="col-3 px-0">
                  <div class="row px-0">

                    <div class="col border-right text-right">
                      <p class="font-weight-light mb-0">收藏</p>
                      <p class="font-weight-bold mt-1" th:text="${collectCount}"></p>
                    </div>
                    <div class="col">
                      <p class="font-weight-light mb-0">浏览</p>
                      <p class="font-weight-bold mt-1" th:text="${question.pageViews}">100</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class=" px-0 text-center font-weight-bold" style="font-size: x-large" th:text="${question.title}">
              </p>

              <div class="px-0 container-fluid question-content" th:utext="${question.content}">
              </div>
              <p class="text-right px-0 mt-5">
                <span class="font-weight-light badge badge-primary" th:text="${question.userNickName}"></span>
                <span class="font-weight-light badge badge-info" th:text="${question.distanceTime}"></span>
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="container-fluid" id="answerApp" v-cloak>
        <div class="row">
          <div class="col-12">
            <!--列出所有的答案-->
            <div class="row mt-5 ml-2">
              <div class="col-12">
                <div class="well-sm"><h3>{{answers.length}}条回答</h3></div>
                <div class="card card-default my-5" v-for="answer in answers">
                  <!-- Default panel contents -->
                  <div class="card-header">
                    <div class="row">
                      <div class="col-1">
                        <img style="width: 50px;height: 50px;border-radius: 50%;"
                             src="http://39.97.229.107/group1/M00/00/06/rBF9h15rOE-ARERBAABVIbenIVo282.jpg">
                      </div>
                      <div class="col-8 ">
                        <div class="row">
                          <span class="ml-3">{{answer.userNickName}}</span>
                        </div>
                        <div class="row">
                          <span class="ml-3">{{answer.distanceTime}}</span>
                        </div>

                      </div>
                      <div class="3">

                      </div>
                    </div>
                  </div>
                  <div class="card-body ">
                    <span class="question-content text-monospace" v-html="answer.content"></span>
                    <a class="text-primary ml-2" v-if="answer.userId==questionInfo.userId" style="font-size: small"
                       :href="'/answer/edit/'+answer.id">
                      <i class="fa fa-edit"></i>编辑
                    </a>

                    <a class="ml-2  fa fa-close " style="font-size: small" v-if="answer.userId==questionInfo.userId"
                       v-on:click="javascript:deleteAnswer(answer.id)">
                      删除
                    </a>

                  </div>
                  <div class="card-footer">

                    <p class="text-success fa fa-comment">{{answer.commentList.length}}条评论</p>
                    <ul class="list-unstyled mt-3">
                      <li class="media my-2" v-for="comment in answer.commentList">
                        <img style="width: 50px;height: 50px;border-radius: 50%;"
                             src="http://39.97.229.107/group1/M00/00/06/rBF9h15rOE-ARERBAABVIbenIVo282.jpg" class="mr-3"
                             alt="...">
                        <div class="media-body">
                          <h6 class="mt-0 mb-1"><span>{{comment.nickName}}</span>:</h6>
                          <p class="text-dark">
                            <span class="text-monospace">{{comment.content}}</span>
                            <span class="font-weight-light text-info"
                                  style="font-size: small">{{comment.distanceTime}}</span>
                            <a class="text-primary ml-2" v-if="comment.userId==questionInfo.userId"
                               style="font-size: small" data-toggle="collapse" :href="'#editCommemt'+comment.id"
                               role="button" aria-expanded="false" aria-controls="collapseExample">
                              <i class="fa fa-edit"></i>编辑
                            </a>
                            <!--老师角色或者属于本用户的评论可以删除该评论-->
                            <a class="ml-2  fa fa-close " style="font-size: small"
                               v-if="questionInfo.role=='ROLE_TEACHER' || comment.userId==questionInfo.userId"
                               data-toggle="collapse" v-on:click="javascript:deleteComment(comment.id)" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                              删除
                            </a>

                          </p>
                          <div class="collapse" :id="'editCommemt'+comment.id"
                               v-if="comment.userId==questionInfo.userId">
                            <div class="card card-body border-light">
                              <form action="/comment/update" method="post" class="needs-validation" novalidate>
                                <input type="hidden" name="commentId" :value="comment.id">
                                <input type="hidden" name="questionId" :value="questionInfo.questionId">
                                <div class="form-group">
                                  <textarea class="form-control" :value="comment.content"
                                            :id="'textareaComment'+comment.id" name="content" rows="4"
                                            required></textarea>
                                  <div class="invalid-feedback">
                                    内容不能为空！
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary my-1 float-right">提交修改</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                    <p class="text-left text-dark">
                      <a class="btn btn-primary mx-2"
                         v-if="answer.acceptStatus==false && questionInfo.myQuestion==true && questionInfo.questionStatus!=2"
                         :href="'/answer/acceptAnswer?answerId='+answer.id+'&questionId='+questionInfo.questionId">采纳答案</a>
                      <a class="btn btn-outline-primary" data-toggle="collapse" :href="'#collapseExample'+answer.id"
                         role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-edit"></i>添加评论
                      </a>

                    </p>
                    <div class="collapse" :id="'collapseExample'+answer.id">
                      <div class="card card-body border-light">
                        <form action="/comment/add" method="post" class="needs-validation" novalidate>
                          <input type="hidden" name="answerId" :value="answer.id">
                          <input type="hidden" name="questionId" :value="questionInfo.questionId">
                          <div class="form-group">
                            <textarea class="form-control" name="content" rows="3" required></textarea>
                            <div class="invalid-feedback">
                              评论内容不能为空！
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary my-1 float-right">提交评论</button>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div><!--列出所有的答案-end-->
            <!--如果没有回答问题的权限就不显示回答框-->
            <div class="container-fluid mt-4" sec:authorize="hasAuthority('/question/answer')" id="writeAnswer">
              <h5 class="text-info mb-2"><i class="fa fa-edit"></i>写答案</h5>
              <form action="/question/answer" method="post" enctype="application/x-www-form-urlencoded"
                    class="needs-validation" novalidate>
                <input type="hidden" th:value="${question.id}" name="id">
                <div class="form-group">
                  <textarea id="summernote" name="content" required></textarea>
                  <div class="invalid-feedback">
                    <h5>回答内容不能为空！</h5>
                  </div>
                </div>
                <div class="form-group">
                  <p class="text-right">
                    <button type="submit" class="btn btn-primary">提交回答</button>
                  </p>

                </div>
              </form>

            </div>

          </div>

        </div>


      </div>
    </div>


    <div class="col-3">
      <!--相关提问-->
      <div th:replace="common/similar_question::similar_question"></div>
    </div>
  </div>

</div>

</div>
<!--底部-->
<footer th:replace="common/footer::footer"></footer>
<script th:src="@{/plugins/summernote/summernote.min.js}"></script>
<script th:src="@{/plugins/summernote/summernote-zh-CN.min.js}"></script>
<script th:src="@{/js/detail.js?v=20200512}"></script>
<script th:src="@{/js/tag.js?v=20200512}"></script>
</body>
</html>