<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.straw.portal.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.straw.portal.model.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="classroom_id" property="classroomId" />
        <result column="createtime" property="createtime" />
        <result column="enabled" property="enabled"/>
        <result column="locked" property="locked"/>
        <result column="type" property="type"/>
        <result column="self_introduction" property="selfIntroduction"/>
        <!--嵌套查询-->
        <collection property="roles" javaType="ArrayList" column="id" ofType="cn.tedu.straw.portal.mapper.RoleMapper.BaseResultMap" select="cn.tedu.straw.portal.mapper.RoleMapper.findAllRoleByUserId"/>

    </resultMap>
    <update id="updatePasswordByUsername" parameterType="string" >
        update user
        set password=#{password}
        where username=#{username}
    </update>
    <select id="findUserWithRoleByUserName" parameterType="string" resultMap="BaseResultMap">
        select  * from user where username=#{username}

    </select>
    <select id="findById" parameterType="integer" resultType="cn.tedu.straw.portal.model.UserInfoVO">
        select nickname,sex,birthday,self_introduction  from user where id=#{userId}
    </select>

</mapper>
